<h1 class="text-primary text-center"> Movies </h1>

<br>

<div class="form-group text-center">
  <form #form="ngForm" (ngSubmit)="OnFormSubmit(form,photo)" >

    <div class="form-group text-center">
      <div *ngIf="!isTitle" class="alert-danger" style="padding: 10px;">You Have Not Included Title</div>
      <span> Movie Title </span> <input ngModel name="title" type="text" class="form-control" style="width: 30%; display: inline;"> <br>
    </div>
    
    <div class="form-group text-center">
      <div *ngIf="!isGenre" class="alert-danger" style="padding: 10px;">You Have Not Included Genre</div>
      <span> Movie Genre </span> <input ngModel name="genre" type="text" class="form-control" style="width: 30%; display: inline;"> <br>
    </div>
    
    <div class="form-group text-center">
      <div *ngIf="!isLength" class="alert-danger" style="padding: 10px;">You Have Not Included Movie Length</div>
      <span> Movie Length </span> <input ngModel name="length" type="number" class="form-control" style="width: 30%; display: inline;"> <br>
    </div>
  
    <div class="form-group text-center">
      <div *ngIf="!isPhoto" class="alert-danger" style="padding: 10px;">You Have Not Included Photo</div>
      <span> Upload a Photo </span> <input #photo ngModel name="photo" type="file" class="form-control" style="width: 30%; display: inline;"> <br>
    </div>
    
      <button class="btn btn-primary btn-lg mb-1" style="width:20%;">Add Movie</button>
  </form>
</div>

<div style="margin-left: 10%;">
  <app-movie *ngFor="let movie of movies" [movie]="movie" (deleteMovie)="onDeleteMovie($event)"></app-movie>
</div>
